.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}
/*spacing utilities*/
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
/* flexbox utilities */
.flex-space-between {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-equal-splits {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-equal-splits > .card {
  margin-bottom: 2rem;
}
.logo {
  padding: 1rem;
  display: inline-block;
}

@media (min-width: 600px) {
  .flex-space-between {
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-equal-splits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .flex-equal-splits > * {
    flex: 1;
  }
}
