* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  line-height: 1.6em;
  border: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.logo {
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  padding: 0.5rem;
  color: white;
}
.navbar ul li:hover {
  border-bottom: 4px solid orange;
}
.navbar ul li a {
  color: inherit;
}

/* Counter */
.counter {
  text-align: center;
}

/* Login */
.form-input {
  border: 1px solid grey;
}
.btn-black {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 2px;
}
